@tailwind base;
@tailwind components;
@tailwind utilities;

/* Using tailwind from here on */

/* Vanilla CSS from previous code. Refactor*/
.globalContainer{
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  outline: none;
  width: 100vw;
  height: 100vh;
}

html,
body{
  font-family: 'Inter';
  height: 100vh;
  overflow: hidden;
}

a{
  text-decoration: none;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 900;
  color: #272730;
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 86px;
  line-height: 1em;
  letter-spacing: -4px;
}
h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  color: #272730;
  font-size: 62px;
  letter-spacing: -4px;
  line-height: 62px;
  margin-top: 0;
  margin-bottom: 3rem;
}

h3 {
  font-style: normal;
  font-weight: 600;
  color: #272730;
  font-size: 20px;
  line-height: 20px;
  margin-top: 2rem;
  margin-bottom: 0;
}

p {
  font-size: 1.125em;
  font-weight: 400;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 1rem;
  margin-bottom: 0;
  -webkit-font-smoothing: antialiased;
}

@media (max-width: 580px){
  h2{
    text-align: center;
    font-size: 40px;
  }
}